[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "sprit"
authors = [{name="Riley Balikian"}, {name="Hongyu Xaio"}]
dynamic = ["readme"]
license = {file = "LICENSE"}
version="0.1.59"
description = "A package for processing and analyzing HVSR (Horizontal to Vertical Spectral Ratio) data"
keywords = ["HVSR", "seismic", "horizontal to vertical spectral ratio", "obspy", 'geology', 'geophysics', 'geotechnical']
requires-python = ">=3.9"
dependencies =  ["obspy", "scipy", "matplotlib", "pandas", "numpy", "pyproj", 'ipython', 'ipywidgets', 'plotly', 'nbformat', 'PyQt5-sip']
classifiers = [
    "Programming Language :: Python :: 3",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

#[tool.setuptools.dynamic]
#readme = {file = ["README.md"]}

[project.urls]
"Homepage" = "https://github.com/RJbalikian/SPRIT-HVSR"
"API Documentation" = "https://rjbalikian.github.io/SPRIT-HVSR/main.html"
"Tutorials & Wiki" = "https://github.com/RJbalikian/SPRIT-HVSR/wiki"

[project.scripts]
sprit = "sprit.sprit_cli:main"

[project.gui-scripts]
sprit-gui = "sprit.sprit_gui:main"