kaleido
matplotlib
numpy
obspy
pandas
plotly
pyproj
scipy
shapely
xhtml2pdf
streamlit
ipython
ipywidgets
nbformat
PyQt5-sip
numpydoc
pdoc3
sphinx
sphinx-rtd-theme
markdown
pytest
flake8
sprit==3.1.2
